
*.bak
*.flock
*.db_info
*.qpf
*.qsf
c5_pin_model_dump.txt
db/.cmp.kpt
*.cdb
*.qmsg
*.hdb
*.rdb
*.bpm
*.xml
*.idb
*.logdb
*.kpt
*.hsd
*.hier_info
*.html
*.txt
*.nvd
*.ammdb
*.sci
*.tdb
*.ddb
*.json
*.pin
*.sld
*.summary
incremental_db/README
*.hif
*.tmw_info
*.rcfdb
incremental_db/compiled_partitions/stop_watch.root_partition.cmp.dfp
incremental_db/compiled_partitions/stop_watch.root_partition.cmp.hbdb.sig
incremental_db/compiled_partitions/stop_watch.root_partition.map.dpi
incremental_db/compiled_partitions/stop_watch.root_partition.map.hbdb.hb_info
incremental_db/compiled_partitions/stop_watch.root_partition.map.hbdb.sig
output_files/stop_watch.asm.rpt
output_files/stop_watch.done
output_files/stop_watch.fit.rpt
output_files/stop_watch.fit.smsg
output_files/stop_watch.flow.rpt
output_files/stop_watch.jdi
output_files/stop_watch.map.rpt
output_files/stop_watch.sof
output_files/stop_watch.sta.rpt
work/_info
*.mti
*.mpf
transcript
*.wlf
*.qdb
*.qpg
*.qtl
work/_vmake
wlft61x80v
wlft9j9q1z
